* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//display 3 Columns Per Row
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  background-color: white;
  border: 10px solid darkmagenta;
}

.grid-item {
  padding: 55px;
  font-size: 55px;
  text-align: center;
}

.card {
  height: 128px;
  width: 90px;
  margin: 2.5px;
}


.fa-circle {
    color:blue;
  }  

  .fa-square {
    // padding: 55px;
    // font-size: 55px;
    color: green;
  } 

  .fa-star {
    // padding: 55px;
    // font-size: 55px;
    color:orange;
  }

.fa-heart {
  // padding: 55px;
  // font-size: 55px;
  color: red;
}

  .fa-face-smile {
    // padding: 55px;
    // font-size: 55px;
    color: yellow;
  }

  .fa-bell {
    // padding: 55px;
    // font-size: 55px;
    color: black;
  }

  .fa-regular fa-comment {
    // font-size: 55px;
    color: lightblue;
  }

.fa-book {
  color: darkblue ;
}

.fa-hand {
  color: brown;
}

.fa-cross {
  // font-size: 55px;
  color: red;
}

.fa-church {
  // font-size: 55px;
  color: darkred;
}

.fa-pen {
  // font-size: 55px;
  color: darkgreen;
}