* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fullSite {
  visibility: hidden;
}

//display 3 Columns Per Row
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  background-color: lightpink;
  // border: 10px solid darksalmon;
 }

.grid-item {
  padding: 40px;
  font-size: 55px;
  text-align: center;
  visibility: hidden;
}

#on {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

#off {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}


.backgroundImg {
  // width: 50px;
  height: 150px;
  z-index: 1;
}

.card {
  height: 128px;
  width: 90px;
  margin: 2.5px;
}


.fa-circle {
    color:blue;
    position: absolute;
    left: 50px;
  }  

  .fa-square {
    color: green;
    position: absolute;
    left: 70px;
  } 

 .fa-heart {
  color: red;
  position: absolute;
  left: 70px;
}

  .fa-face-smile {
    position: absolute;
    left: 50px;
    color: yellow;
  }

.fa-cross {
  position: absolute;
  left: 70px;
  color: red;
}

.fa-church {
  position: absolute;
  color: darkred;
  left: 70px;
}

